
.help_list{}


.help_list .my_help_side_container{

  width: 180px;
  min-height: 250px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin:0;
  margin-left:-15px;
  zoom: 1;

position: absolute;
/*
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
*/
}
.help_list .my_help_side_container {}
.help_list .my_help_topics_list{list-style:none;}
.help_list .my_help_topics_list li{}

.help_list .my_help_main_container{
  display:inline-block;
  float:left;
  margin-left:230px;
  clear:none;
}



.help_list .my_help_main_container .my_group_title{
      background-color: transparent;
    border-bottom: 1px solid #666666;
    color: #2563A1;
    color: #555;
    font-size: 24px;
    font-weight: normal;
    margin:35px 0 20px;
    padding: 15px 0 12px 5px;
    clear:both;display:block;
}

.help_list .my_help_main_container .my_group_title:first-of-type{margin-top:0px;}

.help_list .my_help_main_container .group_subtitle{margin-top:-20px;padding-left:7px;display:block;}



.help_list .my_help_main_container .my_topic_title{
      background-color: transparent;
    border-bottom: 1px solid #EEEEEE;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 12px;
    padding: 0;
  }

.help_list .help_topic{margin:5px 0 15px 20px!important;clear:both;display:block;padding-top:5px;padding-bottom:5px;}

.help_list .help_topic .content{
  font-size:12px;
}
.help_list .help_topic ol,.help_topic ul{
  margin-left:20px; 
}

.help_list .main.help.mb20{
  padding-bottom:15px;
  padding-top:15px;
}
.help_list .help_list_title{
  margin-left:70px;

  margin-bottom:50px;
  font-size:35px;
}




.help_list .my_navigation {
  padding:0px 20px 20px 15px;
}
.help_list .my_navigation a{
  color:#666;
  color:#098ED1;
  color:#3f3f3f;
}
.help_list .my_navigation .title{

  font-size: 12px;
  font-weight: bold;
}
.help_list .my_navigation ul{
  list-style: none;

  margin-bottom:10px;
  margin-left:0;
}
.help_list .my_navigation ul li{
  font-size: 12px;
}
.help_list .my_navigation ul li a,
.help_list .my_navigation span.title a{
  font-size: 12px;
  display: block;
  border-radius: 10px;
  padding:1px 8px;

}
.help_list .my_navigation span.title a{
  margin-left: -10px;

  font-weight: bold;

}
.help_list .my_navigation ul li a {
  padding:0 8px;

  font-size: 12px;
}
.help_list .my_navigation ul li a:hover,
.help_list .my_navigation ul li.active a,
.help_list .my_navigation span.title a:hover,
.help_list .my_navigation span.title.active a {
  text-decoration: none;
}

.my_rtop_link{
  float:right;
  font-size:12px;
  margin: 10px 5px 0;
  width:40px;
}
.my_rtop_link .icon{ 
  background-image: url('<?php echo theme_url(); ?>/images/arrows-up.gif');
background-position: 5px 4px;
  float:left;
}
.my_rtop_link:hover .icon{ 
background-position: 5px -16px;
}

  .my_group_title{ page-break-before:always; }
  .my_group_title:first-of-type{ page-break-before:auto; }
  
  .print_only{display:none!important;}

@media print {
  .no_print{display:none!important;}
  .print_only{display:block!important;}
  .print_ready .help_topic{}
  .print_ready .my_help_main_container .group_subtitle{margin-top:0px!important;padding-left:7px;}
  .print_ready .my_help_main_container{
    display:block;
    float:none;
    margin-left:0;
  }

}




.help_view_screen{font-family: Verdana,"lucida grande",tahoma;}
.help_view_screen{font-size: 11px;}
.help_view_screen p {margin: 2px 1px 0px 0; padding:1px 0 3px; }
.help_view_screen h1{}
.help_view_screen h2{}
.help_view_screen h3{font-size: 14px;margin-top: 15px;}
.help_view_screen h4{}
.help_view_screen h5{}
.help_view_screen .subtitle{color:#777;font-family: tahoma;}
.help_view_screen .group_subtitle{font-size:11px;margin-left: 56px;margin-top: -15px!important;}
.help_view_screen .help_topic .subtitle:hover{color:#666;}
.help_view_screen .help_topic{margin:5px 10px 15px;clear:both;display:block;padding-top:10px;padding-bottom:10px;}
.help_view_screen .help_topic:first-of-type{margin-top:10px; padding-top:0px;}
.help_view_screen .help_topic .content{}
.help_view_screen .help_topic .content p{}
.help_view_screen .help_topic .content br{}
.help_view_screen .help_topic .subtitle{font-size:11px;}
.help_view_screen .help_topic p.subtitle{margin-bottom:3px}
.help_view_screen .help_topic h3{}
.help_view_screen .help_topic ol,
.help_view_screen .help_topic ul{margin:5px 20px;}
.help_view_screen .help_topic ol li,
.help_view_screen .help_topic ul li{margin:5px 0;}
.help_view_screen img.small{margin:4px 1px -4px}
.help_view_screen img.med{margin:14px 1px -14px}
.help_view_screen img.border{border: 1px solid #ccc;}

.help_view_screen img.inline{}
.help_view_screen_actions .button{ margin:0px; }
.help_view_screen_actions .button.disabled{ border-width:0;margin:1px; }
.help_view_screen_actions .button.disabled:hover{ border-width:1px;margin:0px; }